@media(max-width: 500px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .slogan-text {
    font-size: 8vw!important;
  }
  .slogan-div {
    margin-bottom: 6vw!important;
  }
}

@media screen and (min-width: 768px) {
  .slogan-text {
    font-size: 5vw!important;
  }
  .slogan-div {
    margin-bottom: 6vw!important;
    margin-left: 6vw!important
  }
}

@media screen and (min-width: 1023px) {
  .slogan-text {
    font-size: 3rem!important;
  }
  .slogan-div {
    margin-bottom: 2.8rem!important;
    margin-left: 0vw!important
  }
}

.titled {
  font-weight: 700 !important;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitled {
  line-height: 33px !important;
}

.bodytext {
  line-height: 35px !important;
  font-weight: 300 !important;
}

#colored-dna-back {
  background: url(/img/home/colored-dna.svg);
  background-position: center;
  background-size: cover;
}

#colored-lines {
  background: url(/img/home/colored-lines.svg);
  background-position: center;
  background-size: cover;
}

.is-horizontal-center {
  justify-content: center;
}

.icon.is-large {
justify-content: center;
margin-block: 0.25em;
margin-left: 0.5em;
margin-right: 0.5em;
}

.fa-3x {
    font-size: 2.15em;
}

.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.column {
  display: flex;
  height: 100%;
}

a {
  text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  .is-size-5-mobile {
      font-size: 3.5vw!important;
      word-break: break-word;
  }

}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
figure.snip1192 {
  font-family: 'Nunito', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 220px;
  max-width: 720px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  outline-color:hsl(204, 25%, 92%);
  outline-width: 0.2cm; 
  outline-style: solid;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: hsl(204, 25%, 92%);
  padding: 50px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 20px 0 -50px;
  line-height: 1.75em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.5;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  line-height: 1.5em;
  font-weight: 800;
}
figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.container {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 45px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: left;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  font-weight: 400;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  text-align: center;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}