<footer class="footer">
  <div class="container">
      
      {% if site.footer_menu %}
      <div class="columns is-multiline">
          {% for item in site.data[site.footer_menu] %}
          <div class="column has-text-centered">
              <div>
                  <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
              </div>
          </div>
          {% endfor %}
      </div>
      {% endif %}

      <div class="content is-small has-text-left has-text-grey">
          <p class="">Darwinist OÜ</p>
            <p>Registered in Estonia: 16279240</p>
            VAT: EE102395529
            <p>Address: Veskiposti 2, Tallinn 10138, Estonia</p>
            <p>Managing Director: Andrew Holway</p>
            Email: andrew@darwinist.io
          </a>
      </div>
  </div>
</footer>
