<footer class="footer">
  <div class="container">
      
      {% if site.footer_menu %}
      <div class="columns is-multiline">
          {% for item in site.data[site.footer_menu] %}
          <div class="column has-text-centered">
              <div>
                  <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
              </div>
          </div>
          {% endfor %}
      </div>
      {% endif %}

      <div class="content is-small has-text-left has-text-grey">
          <p class="">Darwinist OÜ (16279240)</p>
          <p>info@darwinist.io</p>
           <p>VAT: EE102395529
            Address: Tornimäe tn 7-26, Harju maakond, Tallinn, 10145 </p>
          </a>
      </div>
  </div>
</footer>
