<footer class="footer has-background-black is-fullweight">
    <div class="container">
        <div class="columns has-text-centered is-centered">
            <div class="column">
                <h4 class="title titled is-spaced is-size-5 has-text-grey">Company</h4>
                <p class="subtitle is-size-7">Darwinist OÜ (16279240)</p>
                <p class="subtitle is-size-7">VAT: EE102395529</p>
                <a href="mailto:info@darwinist.io"><p class="subtitle is-size-7">info@darwinist.io</p></a>
            </div>
            <div class="column">
                <h4 class="title titled is-spaced is-size-5 has-text-grey">Address</h4>
                <p class="subtitle is-size-7">Tornimäe tn 7-26</p>
                <p class="subtitle is-size-7">Harju maakond, Tallinn, 10145</p>
                <p class="subtitle is-size-7">Estonia, European Union</p>
            </div>
        </div>
        <h6 class="subtitle bodytext has-text-centered is-size-7 has-text-grey">Copyright Darwinist. All rights reserved.</h6>
    </div>
</footer>