<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="container">
      <span class="icon-text">
        <span class="icon is-large has-text-success">
          <i class="fas fa-3x fa-dna"></i>
        </span>
      <span class="title is-1 has-text-grey">Darwinist</span>
    </div>
  </div>

  <!-- <div class="navbar-menu">

    <div class="navbar-end">
      <a class="navbar-item">
        Whitepaper
      </a>

      <a class="navbar-item">
        Technologies
      </a>

      <a class="navbar-item">
        
      </a>

      <a class="navbar-item">
        EXCLUSIVE ILLUSTRATIONS
      </a>

    </div>
  </div> -->
</nav>
