<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <span class="icon-text">
      <span class="icon is-large has-text-success">
        <i class="fas fa-3x fa-dna"></i>
      </span>
    <span class="title is-1 has-text-white">Darwinist</span>
  </div>

  <div class="navbar-menu is-active mx-5">

    <div class="navbar-end">
      <a href="/#" class="navbar-item">
        Home
      </a>

      <a href="/product/skill-sprint/" class="navbar-item">
        Skill Sprint
      </a>

      <a href="/technology/" class="navbar-item">
        Technologies
      </a>

      <a href="/case-study/" class="navbar-item">
        Case Studies
      </a>

      <!--<a href="/blog/" class="navbar-item">
        Blog
      </a> -->

      <a href="/testimonial/" class="navbar-item">
        Testimonials
      </a>

    </div>
  </div>
</nav>

