---
layout: default
# tabs: example_tabs
---
<section class="section is-small">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1">
          <h1 class="title titled is-size-1 is-size-2-mobile has-text-centered">About us</h1>
        </div>
        <div class="column is-5 p-6">
          <figure class="image">
            <img src="/img/graphics/birds-on-branch.png">
          </figure>
        </div>
      </div> 
    </div>
</section>

<section class="section is-medium has-background-white">
    <div class="container">
        <div class="column is-8 is-offset-2 is-centered">
            {% for text in site.data.content.about.company-introduction %}
                <p class="content bodytext is-size-5">{{ text }}</p>
            {% endfor %}
            <br />
        </div>    
    </div>  
</section>

<section class="section is-small">
    <div class="container pb-6">
        <h4 class="title titled is-size-2 is-size-4-mobile has-text-centered mb-6">Meet our team</h4>
        <br />
        <div class="columns is-vcentered is-multiline">
            {% for team in site.data.content.about.team %}
            <div class="column mx-1">
                <figure class="snip1192">
                    <div class="author titled is-size-6">
                        <img src="{{ team.photo }}" alt="Placeholder-image">
                        <h5>{{ team.name }}<span>{{ team.position }}</span></h5>
                    </div>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
