---
layout: default
---
<section class="section is-small">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1">
          <h1 class="title titled is-size-1 has-text-centered">Blog</h1>
          <p class="subtitled is-size-4 is-size-5-mobile has-text-centered">
             There's always <i>'one more thing'</i> to learn.
          </p>
        </div>
        <div class="column is-5 p-6">
          <figure class="image">
            <img src="/img/graphics/possums.png">
          </figure>
        </div>
      </div> 
    </div>
  </section>

<section class="section is-medium has-background-white">
    <div class="container">
        <div class="columns is-multiline is-centered">
            {% for posts in site.posts %}
            <div class="column is-4">
                <figure class="card-image">
                    <img src={{ posts.image }}>   
                </figure>
            </div>
            <div class="column is-1"></div>
            <div class="column is-5">
                <a href="{{ posts.url }}">
                    <h3 class="title titled is-size-4">{{ posts.title }}</h3>
                </a>
                <hr />
                <p class="bodytext is-size-5">{{ posts.excerpt }}</p>
                <br />
                <div class="block">
                    <a class="button is-rounded is-success is-outlined is-fullwidth has-text-black" href="{{ posts.url }}">
                        Continue reading
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- 
<section class="section">
    <div class="columns is-multiline">
        <div class="column is-4-desktop is-4-tablet">
            <p class="title titled is-size-5 has-text-centered">Latest posts</p>
            <hr />
            <div class="columns is-multiline">
                <div class="column is-12">
                    <div class="card has-background-dark">
                        <div class="card-image">
                            <img src="/img/posts/propeller-head.png" alt="...">
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <a class="title is-size-5" href="../2020/09/08-how-and-why">Business Managed I.T. - How and Why</a>
                                <p></p>
                                <p>"Business departments have to improve their own technology game for better capabilities and a better relationship with central I.T."</p>
                                <p></p>
                            </div>
                            <div class="has-text-centered">
                                <a href="../2020/09/08-how-and-why" class="button is-warning">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-12">
                    <div class="card has-background-dark">
                        <div class="card-image">
                            <img src="/img/posts/prometheus_git.png" alt="...">
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <a class="title is-size-5" href="../2020/07/28/fire-of-the-gods">Git - The Fire of the Gods</a>
                                <p></p>
                                <p>"Git is ubiquitous in technology development - why is it so important?"</p>
                                <p></p>
                            </div>
                            <div class="has-text-centered">
                                <a href="../2020/07/28/fire-of-the-gods." class="button is-warning">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
