---
layout: default
---
<section class="section is-small">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1">
        <h1 class="title titled is-size-1 is-size-2-mobile has-text-centered">Case study</h1>
      </div>
      <div class="column is-5 p-6">
        <figure class="image">
          <img src="/img/graphics/toucan.png">
        </figure>
      </div>
    </div> 
  </div>
</section>

{% for case-study in site.case-study %}
<section class="section {% cycle 'has-background-white', 'has-background-white-bis' %}">
  <div class="container">
      <figure class="image">
        <img src="{{ case-study.logo }}">
      </figure>
      <span class="sutitle subtitled is-size-6 has-text-centered">{{ case-study.subtitle }}</span>
    <div class="columns is-multiline is-centered">
      {% for tech in case-study.technologies %}
      <div class="column is-2">
        <figure class="image">
          <img src="{{ site.data.technology[tech].card-image }}">
        </figure>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
