---
layout: default
---

<section id="colored-lines" class="hero is-white is-fullweight">
    <div class="hero-body ">
        <div class="columns  is-vcentered">
          <div class="column">
            <figure class="image">
              <img src="/img/home/women-at-a-desk.svg">
            </figure>
          </div>
          <div class="column">
            <h1 class="title titled is-1 has-text-white">
            Case Studies
            </h1>
            <h1 class="subtitle subtitled is-3 has-text-white">Reduced Costs. Better infrastructure. No strings attached.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class="content">
    <div class="section">
        <div class="container">
     
            {% for case-study in site.case-studies %}
             <div class="card card-equal-height">
                <h2 class="has-text-black">{{ case-study.company }}</h2>
                <span class="has-text-black">{{ case-study.subtitle }}</span>
            </div> 
            {% endfor %}
            
        </div>
    </div>
</div>





