---
layout: default
---

<section id="colored-lines" class="hero is-white is-fullweight">
    <div class="hero-body ">
      <div class="columns is-mobile is-three-quarter-mobile">
        <div class="column">
          <h1 class="title titled is-1 has-text-white has-text-right">
          Case Study: {{ page.company }}
          </h1>
          <h1 class="subtitle subtitled has-text-right is-3 has-text-white">Reduced Costs. Better infrastructure. No strings attached.</h1>
        </div>
      </div>
        <div class="columns is-mobile is-vcentered">
          {% for tech in page.technologies %}
            <div class="column">
              <figure class="image">
                <img src="{{ site.data.skill-sprints[tech].card-image }}">
              </figure>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

<div class="content">
    <div class="section">
        <div class="container">
        {{ content }}
        </div>
    </div>
</div>


