---
layout: default
---

<section class="section is-medium" id="colored-dna-back">
      <h1 class="title titled is-size-1 is-size-2-mobile has-text-centered has-text-white">Case studies</h1>
</section>
<hr />

<section class="section py-5">
  {% for case-study in site.case-study %}
    <div class="block py-2">
    <a href="{{ case-study.url }}">
      <div class="box">
        <div class="columns is-vcentered">
          <div class="column is-4">
            <figure class="image pt-2">
              <img src="{{ case-study.logo }}">
            </figure>
              <span class="sutitle subtitled is-size-5 is-size-6-mobile has-text-centered has-text-black">{{ case-study.subtitle }}</span>
          </div>
          <div class="column is-8">
            <div class="columns is-mobile is-gapless">
              {% for tech in case-study.technologies %}
              <div class="column is-3">
                <figure class="image is-4by3 is-fullwidth mx-0 my-0">
                  <img src={{ site.data.technology[tech].card-image }}>
                </figure>
              </div>
              {% endfor %}
            </div>  
          </div>
        </div>
      </div>
    </a>
  </div> 
  {% endfor %}
</section>





