{%- include head.html -%}
<body>
  <div class="container">
      {%- include nav-bar.html -%}
        
        {{ content }}

    <div class="columns py-6 mx-5">
      <div class="column">
        <a class="button titled is-size-4 is-rounded is-success has-text-white is-medium is-fullwidth" target="_blank" href="https://calendly.com/darwinist-andrew/">
          <span>Find a time to talk</span>
        </a>
      </div>
      <div class="column">
        <a class="button titled is-size-4 is-rounded is-success is-outlined has-text-white is-medium is-fullwidth" target="_blank" href="mailto:info@darwinist.io">
          <span>Email Us</span>
        </a>
      </div>
    </div>
  </div>    
      {%- include footer.html -%}
</body>

