  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include nav-bar.html -%}
      
        {{ content }}

        <section class="section is-medium is-centered">
          <div class="block">
              <a class="button titled has-background-dark has-text-white is-medium is-fullwidth" target="_blank" href="https://calendly.com/darwinist-andrew/">
                <span>Get in contact!</span>
              </a>
          </div>
        </section>
    </div>
    {%- include footer.html -%}
  </body>
</html>
