---
layout: default
---

<section id="colored-dna-back" class="hero is-white is-fullheight">
  <div class="hero-body ">
    <div class="container">
      <div class="columns  is-vcentered reverse-columns">
        <div class="column
        is-10-mobile 
        is-10-tablet 
        is-5-desktop
        is-5-widescreen 
        is-5-fullhd">
          <h1 class="title titled is-1 mb-6 has-text-white">
            Evolving business with technology
          </h1>
          <div class="buttons">
            <button class="button is-primary">Established technical teams</button>
            <button class="button">Less-technical business teams</button>
          </div>
        </div>
        <div class="column
        is-10-mobile 
        is-10-tablet 
        is-6-desktop 
        is-6-widescreen 
        is-6-fullhd is-offset-1-fullhd">
          <figure class="image is-square">
            <img src="/img/home/people-building-a-site.svg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container is-vcentered">
      <div class="box">
        <div class="columns is-centered">
          <div class="column is-1"></div>
          <div class="column is-3">
            <figure class="image is-256x256">
              <img src="/img/home/woman-and-book.svg">
            </figure>
            <h2>
              We design limited scope, technology centric 
              transformations that can be delivered within days.
            </h2>
          </div>
        <div class="column is-1"></div>
          <div class="column is-3">
            <figure class="image is-256x256">
              <img src="/img/home/people-building-a-puzzle.svg">
            </figure>
            <h2>
              We coach agile from first principles - 
              the Agile Manifesto
            </h2>
          </div>
          <div class="column is-1"></div>
          <div class="column is-3">
            <figure class="image is-256x256 is-centered">
              <img src="/img/home/people-at-a-meeting.svg">
            </figure>
            <h2>
              Short-term, high impact 
              technology adoption programs
            </h2>
          </div>
          <div class="column is-1"></div>
        </div>
      </div>
    </div>
  </div>  
</section>

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-1 is-vcentered">
        <div class="column"></div>
        <div class="box">
          <div class="column
           is-10-mobile is-offset-1-mobile
           is-10-tablet is-offset-1-tablet
           is-8-desktop is-offset-1-desktop
           is-8-widescreen is-offset-1-widescreen
           is-8-fullhd is-offset-1-fullhd">
           <h1 class="title titled is-1 mb-6 has-text-black">
            About us
           </h1>
           <p class="content is-medium">
            We are experts in the adoption of technology and 
            have developed methodologies to make this process 
            faster with more deterministic outcomes.
           </p>
            <div class="button"> Read the whitepaper
            </div>
           </div>
        </div>
        <div class="column
         is-10-mobile is-offset-1-mobile
         is-10-tablet is-offset-1-tablet
         is-6-desktop is-offset-1-desktop
         is-6-widescreen is-offset-1-widescreen
         is-6-fullhd is-offset-1-fullhd" >
          <figure class="image">
            <img src="/img/home/coding-panel.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <figure class="image">
            <img src="/img/home/skill-sprint-logo.png">
          </figure>
          <h2 class="subtitle subtitled mb-6">
            We offer Skill Sprints for a variety of scenarios
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="card">
      <div class="card is-fullwidth">
        <header class="card-header">
          <p class="card-header-title">How it works?</p>
          <a class="card-header-icon card-toggle">
            <i class="fa fa-angle-down"></i>
          </a>
        </header>
        <div class="card-content is-hidden">
          <div class="content">
            <h3 class="title has-text-black">STEP ZERO - The Skill Sprint Leader</h3>
            The Leader of a Skill Sprint should be a subject expert in the technology 
            that will be adopted. They should have many deployments under their belt 
            and have a deep understanding of the caveats and special cases. 
            Their job is to lead the process and ensure that the team is enabled 
            at every moment. They should ideally have some teaching experience - 
            be patient, creative with great communication and collaboration skills.
        </div>

          <div class="content">
            <h3 class="title has-text-black">STEP ONE - Define the minimum viable product</h3>
              The first step in adopting any technology should be to define 
              the first business impact that this technology should have. 
              The Minimum Viable Product should affect the work of at least 
              one permanent employee - hopefully for the better. It is important 
              that something actually changes for the Skill Sprint to be successful. 
              There are no "Proof Of Concepts" here - real things have to change.
          </div>

          <div class="content">
            <h3 class="title has-text-black">STEP TWO - Assemble the team</h3>
            Two or three permanent members of staff should be committed 
            into the Skill Sprint. They will need to be excused from their 
            work for the duration of the sprint. These members of staff will 
            do all of the work required to complete the Minimum Viable Product
             within the sprint. If the task is not accomplished by the end of 
             the sprint they should be able to continue on until the delivery 
             is complete. Throughout the process the Leader is not permitted to 
             touch a keyboard.
          </div>

          <div class="content">
            <h3 class="title has-text-black">STEP THREE - Plan to expose risks and caveats</h3>
            New technologies have to be integrated with existing process and technology. 
            The Leader will work with the team to expose risks, uncertainties and possible 
            sticking points. This shouldn't take more than a few hours - if it's getting 
            laborious then the MVP is probably too ambitious.
          </div>

          <div class="content">
            <h3 class="title has-text-black">STEP FOUR - JFDI</h3>
            New technologies have to be integrated with existing process and technology. 
            The Leader will work with the team to expose risks, uncertainties and possible 
            sticking points. This shouldn't take more than a few hours - if it's getting 
            laborious then the MVP is probably too ambitious.
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
