---
layout: default
---

<section id="colored-dna-back" class="hero is-white is-fullweight">
  <div class="hero-body ">
    <div class="container">
      <div class="columns  is-vcentered">
        <div class="column">
          <h1 class="title titled is-1 has-text-white">
          Evolving business
          with technology
          </h1>
          <!-- <div class="buttons">
            <button class="button is-primary">Established technical teams</button>
            <button class="button">Less-technical business teams</button>
          </div> -->
        </div>
        <div class="column">
          <figure class="image ">
            <img src="/img/home/people-building-a-site.svg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container is-vcentered">
      <div class="box">
        <div class="columns is-centered">
          <div class="column is-1"></div>
          <div class="column is-3">
            <figure class="image is-256x256">
              <img src="/img/home/woman-and-book.svg">
            </figure>
            <p class="content subtitled is-size-5">
              Limited scope, technology centric 
              transformations that can be delivered within days.
            </p>
          </div>
        <div class="column is-1"></div>
          <div class="column is-3">
            <figure class="image is-256x256">
              <img src="/img/home/people-building-a-puzzle.svg">
            </figure>
            <p class="content subtitled is-size-5">
              We coach agile from first principles - 
              the Agile Manifesto
            </p>
          </div>
          <div class="column is-1"></div>
          <div class="column is-3">
            <figure class="image is-256x256 is-centered">
              <img src="/img/home/people-at-a-meeting.svg">
            </figure>
            <p class="content subtitled is-size-5">
              Short-term, high impact 
              technology adoption programs
            </p>
          </div>
          <div class="column is-1"></div>
        </div>
      </div>
    </div>
  </div>  
</section>


<section id="colored-lines" class="hero">
  <div class="hero-body">
    <div class="container is-vcentered">
      <div class="columns">
        <div class="column">
            <div>
                <div>
                      <h1 class="title titled is-2 has-text-white">
                        About us
                      </h1>
                      <p class="content subtitled is-size-5 mp-5 has-text-white">
                        We are experts in the adoption of technology and 
                        have developed methodologies to make this process 
                        faster with more deterministic outcomes.
                      </p>
                      <div class="box has-background-white">
                        <h2 class="title is-4 mb-7 has-text-black">
                          For less technical teams
                        </h2>
                        <p class="content subtitled is-size-5 has-text-black">
                          Our goal is to deliver something 
                          of value to your colleagues and employer using Python.
                        </p>
                          <h2 class="title is-4 mb-7 has-text-black">
                            For established development teams
                          </h2>
                          <p class="content subtitled is-size-5 has-text-black">
                            We help to take control of your CI/CD processes and deploy your 
                            application either on the cloud or on premise.
                          </p>
                      </div>
                  </div>
                </div>
              <div class="column is-vertical"></div>
              <a class="button titled is-info is-medium is-fullwidth" href="https://darwinist.io/whitepaper.html">
               <span>Learn more</span> 
              </a>
        </div>
          <div class="column" >
              <figure class="image is-1by1">
                 <img src="/img/home/man-woman-growth.svg">
              </figure>
          </div>
        </div>  
      </div>
    </div>
  </div>
</section>

<!-- <section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-6">
          <figure class="image">
            <img src="/img/home/skill-sprint-logo.png">
          </figure>
          <h2 class="subtitle subtitled mb-6 has-text-grey">
           We offer Skill Sprints for a variety of scenarios
          </h2>
          <div class="buttons">
            <button class="button is-large is-success is-fullwidth">Explore your options</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section>
  <div class="container">
    <div class="card">
      <div class="card is-fullwidth">
        <header class="card-header">
          <p class="card-header-title">How it works?</p>
          <a class="card-header-icon card-toggle">
            <i class="fa fa-angle-down"></i>
          </a>
        </header>
        <div class="card-content is-hidden">
          <div class="content">
            <h3 class="title has-text-black">STEP ZERO - The Skill Sprint Leader</h3>
            The Leader of a Skill Sprint should be a subject expert in the technology 
            that will be adopted. They should have many deployments under their belt 
            and have a deep understanding of the caveats and special cases. 
            Their job is to lead the process and ensure that the team is enabled 
            at every moment. They should ideally have some teaching experience - 
            be patient, creative with great communication and collaboration skills.
        </div>

          <div class="content">
            <h3 class="title has-text-black">STEP ONE - Define the minimum viable product</h3>
              The first step in adopting any technology should be to define 
              the first business impact that this technology should have. 
              The Minimum Viable Product should affect the work of at least 
              one permanent employee - hopefully for the better. It is important 
              that something actually changes for the Skill Sprint to be successful. 
              There are no "Proof Of Concepts" here - real things have to change.
          </div>

          <div class="content">
            <h3 class="title has-text-black">STEP TWO - Assemble the team</h3>
            Two or three permanent members of staff should be committed 
            into the Skill Sprint. They will need to be excused from their 
            work for the duration of the sprint. These members of staff will 
            do all of the work required to complete the Minimum Viable Product
             within the sprint. If the task is not accomplished by the end of 
             the sprint they should be able to continue on until the delivery 
             is complete. Throughout the process the Leader is not permitted to 
             touch a keyboard.
          </div>

          <div class="content">
            <h3 class="title has-text-black">STEP THREE - Plan to expose risks and caveats</h3>
            New technologies have to be integrated with existing process and technology. 
            The Leader will work with the team to expose risks, uncertainties and possible 
            sticking points. This shouldn't take more than a few hours - if it's getting 
            laborious then the MVP is probably too ambitious.
          </div>

          <div class="content">
            <h3 class="title has-text-black">STEP FOUR - JFDI</h3>
            New technologies have to be integrated with existing process and technology. 
            The Leader will work with the team to expose risks, uncertainties and possible 
            sticking points. This shouldn't take more than a few hours - if it's getting 
            laborious then the MVP is probably too ambitious.
          </div>
        </div>
      </div>
    </div>
  </div> 
</section> -->
