---
layout: default
---

<section id="colored-dna-back" class="hero is-white is-fullweight">
  <div class="hero-body ">
    <div class="columns is-vcentered">
      <div class="column">
        <div class="block mb-6">
         <span class="icon-text is-flex-wrap-nowrap block is-size-2 is-size-4-mobile">
            <span class="icon has-text-danger">
            <i class="fas fa-wrench"></i>
            </span>
          <span style="white-space: nowrap" class="titled has-text-white ml-3"><span class="has-text-danger">Retool</span> your team</span>
        </span>
      </div>
      <div class="block mb-6">
        <span class="icon-text is-large is-flex-wrap-nowrap block is-size-2 is-size-4-mobile">
          <span class="icon has-text-warning">
          <i class="fas fa-user-graduate"></i>
          </span>
          <span style="white-space: nowrap" class="titled has-text-white ml-3"><span class="has-text-warning">Invest</span> in people</span>
        </span>
      </div>
      <div class="block mb-6">
        <span class="icon-text is-medium is-flex-wrap-nowrap block is-size-2 is-size-4-mobile">
          <span class="icon has-text-success">
          <i class="fas fa-dna"></i>
          </span>
          <span style="white-space: nowrap" class="titled has-text-white ml-3"><span class="has-text-success">Evolve</span> the business</span>
        </span> 
      </div>



      </div>
      <div class="column">
        <figure class="image is-hidden-touch">
          <img src="/img/home/people-building-a-site.svg">
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="section is-small">
  <h2 class="title titled is-size-2 pb-2 has-text-centered">Our customers</h2>
  <div class="box has-background-white-bis">
    <div class="columns">
      <div class="column">
          <h2 class="title is-4 mb-7 has-text-black">Technology team retooling</h2>
            <p class="content subtitled is-size-5 has-text-black">
              Are you a <b>more technical</b> team trying to get to grips with a new stack? We are specialists in technology education, developing approaches and methodologies that cut down the <b>time to first value</b> from months to days. We ensure that your retooling goes smoothly with deterministic outcomes.
            </p>
      </div>
      <div class="column">
        <h2 class="title is-4 mb-7 has-text-black">Business team tech up-skilling</h2>
          <p class="content subtitled is-size-5 has-text-black">
            Are you a <b>less technical</b> business team wanting to be more independent with technology? We work with business teams, up-skilling and enabling them to create their own basic I.T. systems. We support and educate teams that aspire to become more technology literate. Our customers are joining the <b>Data Democracy</b>.
          </p>
    </div>
    </div>
  </div>

</section>

<section class="section is-medium">
  <div class="columns">
    <div class="column" >
      <figure class="image is-1by1">
        <img src="/img/home/man-woman-growth.svg">
      </figure>
    </div>
    <div class="column">
      <h2 class="title titled is-size-2 pb-2 has-text-centered">Our services</h2>
      <div class="box has-background-white-bis">
        <h2 class="title is-4 mb-7 has-text-black">Skill Sprints</h2>
          <p class="content subtitled is-size-5 has-text-black">
            A Skill Sprint is a customizable technique which sets up a team with a new technology quickly and efficiently - normally within a week. Led by a subject expert, the participants are coached as they deliver on a real goal with the target technology.</p>
          <p class="content subtitled is-size-5 has-text-black">Participants learn by doing. Skill Sprints allow you to invest in your people with a guaranteed, measurable ROI for the organization.</p>
        <h2 class="title is-4 mb-7 has-text-black">Capability Cultivation</h2>
          <p class="content subtitled is-size-5 has-text-black">
            We can slow drip skills and best practice into your organization allowing your staff to take control of a technology with a more relaxed time-frame. 
          </p>
      </div>
    </div>
  </div>  
</section>

<section class="section has-text-centered py-6">
  <div class="box has-background-dark">
    <div class="columns is-centered">
      <div class="column is-1"></div>
      <div class="column is-3">
        <figure class="image is-256x256">
          <img src="/img/home/woman-and-book.svg">
        </figure>
        <p class="content subtitled is-size-5">
            Limited scope, technology centric 
            transformations that can be delivered within days.
        </p>
      </div>
    <div class="column is-1"></div>
      <div class="column is-3">
        <figure class="image is-256x256">
            <img src="/img/home/people-building-a-puzzle.svg">
        </figure>
        <p class="content subtitled is-size-5">
            We ensure your operations are sustainable and independent at every stage.
        </p>
      </div>
      <div class="column is-1"></div>
      <div class="column is-3">
        <figure class="image is-256x256 is-centered">
          <img src="/img/home/people-at-a-meeting.svg">
        </figure>
        <p class="content subtitled is-size-5">
            Short-term, high impact 
            technology adoption programs
        </p>
      </div>
      <div class="column is-1"></div>
    </div>
  </div> 
</section>