---
layout: default
---

<div class="section">
    <div class="container">
        <div class="column is-8 is-offset-2 is-centered">
            <h1 class="title titled is-size-1 is-size-3-mobile has-text-centered pb-5">{{ page.title}}</h1>
            <br />
            <figure class="image">
                <img src="{{ page.image }}">
            </figure>
            <br />
            <div class="block"> 
                <p class="subtitle subtitled is-size-4 is-size-5-mobile pt-5"><i>{{ page.description}}</i></p>
            </div>
            <div class="subtitle subtitled is-size-6 has-text-right has-text-grey-darker">
                <i>{{ page.headline }}</i>
            </div>  
        </div>    
    </div>     
</div>

<section class="section">
    <div class="container">
        <div class="column is-8 is-offset-2">
            <div class="content bodytext is-size-5">
                {{ content }}
            </div>
        </div>
    </div>
</section>