---
layout: default
---

<section class="section is-small" id="colored-dna-back">
  <h1 class="title titled is-size-1 is-size-2-mobile has-text-centered has-text-white">{{ page.title }}</h1>
  <h2 class="subtitle subtitled is-3 has-text-centered has-text-white">{{ page.subtitle }}</h2>
</section>

<section class="section is-small">
  <div class="columns is-12 has-text-centered">
    <div class="column is-4">
      <div class="card-image has-text-centered">
        <span class="icon is-large has-text-danger">
            <i class="fas fa-3x fa-wrench"></i>
        </span>
      </div>
      <div class="card-content">
        <div class="content">
            <h3 class="is-size-3"><span class="has-text-danger">Retool</span> your team</h3>
            <p class="subtitle subtitled is-size-5">Get to grips with new technology in a week.</p>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card-image has-text-centered">
        <span class="icon is-large has-text-warning">
            <i class="fas fa-3x fa-user-graduate"></i>
        </span>
      </div>
      <div class="card-content">
        <div class="content">
            <h3 class="is-size-3"><span class="has-text-warning">Invest</span> in people</h3>
            <p class="subtitle subtitled is-size-5">Everything we do accelerates professional development.</p>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card-image has-text-centered">
        <span class="icon is-large has-text-success">
            <i class="fas fa-3x fa-dna"></i>
        </span>
      </div>
      <div class="card-content">
        <div class="content">
            <h3 class="is-size-3"><span class="has-text-success">Evolve</span> the business</h3>
            <p class="subtitle subtitled is-size-5">Real change delivered by <i>your</i> staff with <i>our</i> guidance.</p>
        </div>
      </div>
    </div>
  </div>        
</section>

<section class="section ">
  <div class="block">
    <div class="card-content">
      {% for blurb in page.blurb %}
        <h2 class="subtitle subtitled is-size-5">{{ blurb }}</h2>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section is-medium">
  <h3 class="title titled is-size-3 is-size-4-mobile has-text-centered has-text-white mb-6">{{ page.top-copy-title }}</h3>  
  {% for text in page.top-copy %}
  <p class="subtitle subtitled is-size-5 has-text-white px-5">{{ text }}</p>
{% endfor %}
</section>

<section class="section is-small">
  <h4 class="title titled is-size-3 has-text-white has-text-centered mb-6">Skill Sprint Principles</h4>
  <div class="columns is-12 is-multiline box has-background-grey-dark">
    {% for principle in page.principles %}
    <div class="column is-4">
      <div class="card-content has-text-centered">
        <span class="icon py-5">
          <i class="fas fa-2x {{principle.icon}}"></i>
        </span> 
        <p class="title titled is-size-4">
          {{principle.title}}
        </p>
        <hr />
        <p class="bodytext has-text-left is-size-6">
          {{principle.text}}
        </p>
      </div>  
    </div>  
    {% endfor %}  
  </div>
</section>

<!-- <section class="section">
  <h1 class="title titled is-size-3 has-text-white mb-6">Skill Sprint Principles</h1>
  <div class="card has-background-white-bis block">
    {% for principle in page.principles %}
    <div class="card-content">
      <div class="icon-text is-flex-wrap-nowrap block">
        <span class="icon has-text-success ">
        <i class="fas fa-3x fa-check-square"></i>
        </span>
        <span class="titled is-size-3 has-text-black ml-3">{{principle.title}}</span>
      </div>
      <p class="subtitle has-text-black">{{principle.text}}</p>
    </div>
    {% endfor %}
  </div>
</section> -->

<section class="section is-medium">
  <h4 class="title titled is-size-3 is-size-4-mobile has-text-centered has-text-white mb-6">{{ page.bottom-copy-title }}</h4>
  {% for text in page.bottom-copy %}
  <p class="subtitle subtitled is-size-5 has-text-white px-5">{{ text }}</p>
{% endfor %}
</section>

<section class="section is-small">
  <h5 class="title titled is-size-3 has-text-white has-text-centered mb-6">Skill Sprint Steps</h5>
  <div class="block mb-6">
    <p class="title titled is-size-4 is-size-5-mobile">0. The Skill Sprint leader</p>
    <p class="bodytext is-size-5 px-5">The Leader of a Skill Sprint is an  expert in the target technology with a 
      deep understanding of the caveats and special cases. The Leader does not have 
      direct hand in the delivery in the implementation.</p></div>
  <div class="columns is-12 is-multiline box has-background-grey-dark">
    {% for step in page.steps %}
    <div class="column is-half">
      <div class="card-content">
        <h6 class="title titled is-size-4 is-size-5-mobile">{{step.title}}</h6>
        <hr />
        <span class="subtitle bodytext is-size-6">{{step.text}}</span>
      </div>
    </div>  
    {% endfor %}
  </div>
</section>

