---
layout: default
---

<section class="section is-medium" id="colored-dna-back">
  <h1 class="title titled is-size-1 is-size-2-mobile has-text-centered has-text-white">{{ page.title }}</h1>
  <h1 class="subtitle subtitled is-3 has-text-centered has-text-white">{{ page.subtitle }}</h1>
</section>

<section class="section">
  {% for blurb in page.blurb %}
    <h1 class="subtitle subtitled has-text-white">{{ blurb }}</h1>
  {% endfor %}
</section>

<section class="section">
  <div class="card has-background-white-bis block">
    {% for benefit in page.benefits %}
    <div class="card-content">
      <div class="icon-text is-flex-wrap-nowrap block">
        <span class="icon has-text-success ">
        <i class="fas fa-3x fa-check-square"></i>
        </span>
        <span class="titled is-size-3 has-text-black ml-3">{{benefit.title}}</span>
      </div>
      <p class="subtitle has-text-black">{{benefit.text}}</p>
    </div>
    {% endfor %}
  </div>
</section>





