---
layout: default
# tabs: example_tabs
---


<div class="content">
    <div class="section">
        <div class="container">
            <h1 class="title titled is-1 mb-6 has-text-white">Technologies</h1>
        </div>
        {% for row in (1..4) %}
        
        {% assign filtered = site.data.technology | where: 'row', row %}
        <div class="tile is-ancestor is-centered">
            {% for technology in filtered %}
            <a href="/technology/{{ technology.url}}/">
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <div class="card-image">
                            <figure class="image">
                            <img src="{{ technology.card-image }}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <a href="/technology/{{ technology.url}}/" class="button is-info is-fullwidth">{{ technology.name }}</a>
                            </br>
                            <p class="bd-notification has-text-black">{{ technology.scenario }} <b><a href="/technology/{{ technology.url }}">more info</a></b></p>
                            </br>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
        
    </div>
</div>