---
layout: default
---

<section id="colored-lines" class="hero is-white is-fullweight">
  <div class="hero-body ">
      <div class="columns  is-vcentered">
        <div class="column">
          <figure class="image">
            <img src="/img/home/women-at-a-desk.svg">
          </figure>
        </div>
        <div class="column">
          <h1 class="title titled is-1 has-text-white">
          Technical Skill Sprints
          </h1>
          <h1 class="subtitle subtitled is-3 has-text-white">Reduced Costs. Better infrastructure. No strings attached.</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <div class="content">
              <h2 class="title titled is-3 mb-7 has-text-white">Take control of your CD/CI processes</h2>
              <h2 class="subtitle subtitled is-4 has-text-grey"> Deploy your application to <b>Kubernets</b> - either on the cloud or on-premise</h2>
              <p>
                <div class="icon-text has-text-success">
                  <span class="icon">
                    <i class="fas fa-check"></i>
                  </span>
                  <span class="content has-text-white">Kubernetes is designed to be directly consumed by Developers</span>
                </div>
              </p>
              <p>
                <div class="icon-text has-text-success">
                  <span class="icon">
                    <i class="fas fa-check"></i>
                  </span>
                  <span class="content has-text-white">Puts the Developers in complete control of the software lifecycle</span>
                </div>
                </p>
              <div class="icon-text has-text-success">
                <span class="icon">
                  <i class="fas fa-check"></i>
                </span>
                <span class="content has-text-white">After the course you don't rely on further external help</span>
              </div>
          </div>
        </div>
        <div class="column">
          <figure class="image">
            <img src="img/graphics/33.svg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section is-medium">
  <div class="container">
    <h3 class="title titled is-2 has-text-white">Case studies</h3></div>
  </div>
  <div class="hero-body">
    <div class="container is-vcentered">
      <div class="columns is-centered">
        <div class="column is-1"></div>
        <div class="column is-3 box">
          <figure class="image is-256x256">
            <img src="/img/case-studies/camping-info-logo.png">
          </figure>
          <p class="content subtitled has-text-centered is-size-6">
            From an AWS disaster to GKE dream in a week
          </p>
        </div>
        <div class="column is-1"></div>
        <div class="column is-3 box">
          <figure class="image is-256x256">
            <img src="/img/case-studies/credimi-logo.png">
          </figure>
          <p class="content subtitled has-text-centered is-size-6">
              Fintech startup smashes DevOps with a skill sprint
          </p>
        </div>
        <div class="column is-1"></div>
        <div class="column is-3 box">
          <figure class="image is-256x256 is-centered">
            <img src="/img/case-studies/fti-group-logo.png">
          </figure>
          <p class="content subtitled has-text-centered is-size-6">
              How a Devops Skill Sprint took FTI Group on a major leap forward
          </p>
        </div>
        <div class="column is-1"></div>
      </div>
    </div>
  </div>  
</section>

<section class="section is-centered">
  <div class="container">
    <div class="columns is-gapless">
      <div class="column is-1"></div>
      <div class="column">
        <h4 class="title titled is-1 has-text-white is-centered">Doesn't seem fit for you?</h4>
        <p class="subtitle subtitled is-2 has-text-success">Check out our other option!</p>
      </div>
      <div class="column is-one-quarter">
        <figure class="image is-256x256 is-centered">
          <img src="/img/graphics/puzzle-pieces.svg">
        </figure>
      </div>
      <div class="column is-1"></div>
    </div>
  </div>   
</section>