---
layout: default
# tabs: example_tabs
---
<section class="section is-small">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1">
          <h1 class="title titled is-size-1 is-size-2-mobile has-text-centered">Technologies</h1>
        </div>
        <div class="column is-4 p-6">
          <figure class="image">
            <img src="/img/graphics/mama-bird-feeding-babies.png">
          </figure>
        </div>
      </div> 
    </div>
</section>

{% for row in (1..5) %}
<section class="section is-medium {% cycle 'has-background-white', 'has-background-white-bis' %}">
    <div class="container">
        <div class="columns is-12 is-multiline is-centered">
        
            {% assign filtered = site.data.technology | where: 'row', row %}
            {% for technology in filtered %}
            <div class="column">
                <div class="block-tech">
                    <a href="{{ technology.url }}">
                        <figure class="image mx-6">
                            <img src="{{ technology.card-image }}">        
                        </figure> 
                    </a>                        
                    <hr />
                    <p class="bodytext is-size-5 is-size-6-mobile mx-4">
                        <strong>{{ technology.name }}</strong> {{ technology.scenario }}
                    </p>
                    <div class="block is-flex is-horizontal-center">
                        <a class="button is-rounded my-6 is-outlined is-success" target="_blank" href="{{ technology.url }}">
                            <span class="is-flex-wrap">Learn more</span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}  
        </div>  
    </div>   
</section>
{% endfor %}