---
layout: default
# tabs: example_tabs
---



<div class="section">
    <div class="container">
        <h1 class="title titled is-1 mb-6 has-text-white">Testimonials</h1>
    </div>
</div>

      {% for company in site.data.testimonial %}
<div class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <figure class="image">
          <img src="{{ company[1].company-logo }}" alt="Placeholder image">
        </figure>
        <p class="title is-4 has-text-black">{{ company[1].company }}</p>
        <p class="subtitle is-6 has-text-black">{{ company[1].company-description }}</p>
      </div>
        {% for testimonial in company[1].testimonials %}
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ testimonial.photo }}" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4 has-text-black">{{ testimonial.name }}</p>
              <p class="subtitle is-6 has-text-black">{{ testimonial.position }}</p>
            </div>
          </div>

          <div class="content has-text-black">
            {{ testimonial.text }}
          </div>
        </div>
        {% endfor %}
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4 has-text-black">Delivered Skill Sprints</p>
            {% for skill-sprint in company[1].skill-sprints %}
            <p class="subtitle is-6 has-text-black">{{ skill-sprint.blurb }}</p>
            <div class="columns is-mobile">
              {% for tech in skill-sprint.technologies %}
              <div class="column is-1 is-two-mobile">
                <figure class="image">
                  <img src={{ site.data.technology[tech].card-image }}>
                </figure>
                <p class="subtitle is-6 has-text-black">{{ site.data.technology[tech].name }}</p>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>
      {% endfor %}       

