---
layout: default
# tabs: example_tabs
---

<section class="section is-small">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-5 is-offset-1">
        <h1 class="title titled is-size-1 is-size-2-mobile has-text-centered">Testimonials</h1>
      </div>
      <div class="column is-4 p-6">
        <figure class="image">
          <img src="/img/graphics/three-birds.png">
        </figure>
      </div>
    </div> 
  </div>
</section>


  {% for company in site.data.testimonial %}
<section class="section mt-6 has-background-white">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <a target="_blank" rel="noopener noreferrer" href="{{ company[1].company-url }}">
          <figure class="image">
            <img src="{{ company[1].company-logo }}" alt="Placeholder image">
          </figure>
        </a>
      </div>
    </div><!-- columns  -->
    <br />
    <p class="subtitle subtited has-text-centered is-size-4 is-size-5-mobile">{{ company[1].company-description }}</p>
  </div>
</section>    


<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-mobile">
        <div class="card-content">
          {% for project in company[1].projects %}
            <div class="media mb-6">
                <figure class="image is-tech-icon is-rounded pr-3">
                  <img src="{{ site.data.technology[project.technology].card-image }}" alt="Placeholder image">
                </figure>
              <div>
                <h3 class="title titled is-size-4 is-size-5-mobile">{{ project.title }}</h3>
                <h4 class="subtitle subtited is-size-6 is-size-7-mobile has-text-grey">{{ project.subtitle }}</h4>
              </div>
            </div>
            <p class="subtitle bodytext is-size-6">{{ project.blurb }}</p>
            <br />
              <button class="button titled is-rounded is-light is-outlined is-success is-medium is-fullwidth mb-6">
                  <a target="_blank" rel="noopener noreferrer" href="/case-study/{{ company[1].case-study }}">
                    <div class="icon-text">
                      <span class="icon has-text-success">
                      <i class="fas fa-arrow-right"></i>
                      </span>
                      <span class="has-text-success">Case Study</span>
                    </div>
                  </a>
              </button>
          {% endfor %}
        </div><!-- card-content -->
      </div><!-- column -->  
      <div class="column is-1"></div>
      <div class="column">
          {% for testimonial in company[1].testimonials %}
          <figure class="snip1192">
            <blockquote class="is-size-5 bodytext"><i>{{ testimonial.text }}</i></blockquote>
            <div class="author titled is-size-6">
              <img src="{{ testimonial.photo }}" alt="Placeholder-image">
              <h5>{{ testimonial.name }}<span>{{ testimonial.position }}</span></h5>
            </div>
          </figure><!-- notification -->
          {% endfor %}
      </div><!-- what they say column -->
    </div><!-- columns -->  
  </div><!-- container -->  
</section><!-- section  -->
{% endfor %}      