---
layout: default
---

<section class="hero">
</section>

<section class="hero">
  <div class="columns is-centered">
    <div class="column is-6">
      <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSeQnTgEc6W2_4xMv1opXf7n2rS7lB4boHQCej-1tZ2Lx0mAEw/formResponse">
        <div class="field">
          <label class="label has-text-white">Name</label>
          <div class="control has-icons-left has-icons-right">
            <input name="entry.1057439164" class="input is-success" type="text" placeholder="Text input" value="bulma">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label has-text-white">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input name="entry.263361298" class="input is-success" type="text" placeholder="Email input" value="hello@">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label has-text-white">Company web address</label>
          <div class="control has-icons-left has-icons-right">
            <input name="entry.537142399" class="input is-success" type="text" placeholder="URL input" value="https://...">
            <span class="icon is-small is-left">
              <i class="fas fa-globe"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button type="submit" value="Send" class="button is-link">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>